%p
  %b Title:
  = @product.title
%p
  %b Description:
  = @product.description
%p
  =image_tag(picture_product_path(@product), :size => "80x96")
  %br
  %b Image url:
  = @product.image_url

%p
  %b Price:
  = @product.price 

= link_to 'Edit', edit_product_path(@product)
\|
= link_to 'Back', products_path
