%head
  %title Depot Books Online Store
  = javascript_include_tag  :application
  = stylesheet_link_tag     :application
  = stylesheet_link_tag     :depot
  = stylesheet_link_tag     :carts
  = csrf_meta_tags
  = yield :head

%body#store
  #banner
    -# Language Selection
    =form_tag store_path, :class => 'locale' do
      =select_tag 'set_locale', options_for_select(LANGUAGES, I18n.locale.to_s), 
        :onchange => 'this.form.submit()'
      =submit_tag 'submit'
      =javascript_tag "$$('.locale input').each(Element.hide)"

    =image_tag("/images/logo.png")
    =@page_title || t('.title')

  #columns
    #side
      =link_to t('.home'), '/'
      =link_to t('.questions'), ''
      =link_to t('.news'), ''
      =link_to t('.contact'), ''
      -#menu for logged admin
      -if session[:user_id]
        =link_to 'Orders', orders_path
        =link_to 'Products', products_path
        =link_to 'Users', users_path
        =link_to 'Logout', logout_path

      -#show the card condition
      -if @cart 
        = hidden_div_if(@cart.line_items.empty?, :id => "cart") do
          = render @cart

  #main
    -if notice
      %p#notice= notice

    = yield

