%head
  %title Depot
  = javascript_include_tag  :application
  = stylesheet_link_tag     :application
  = stylesheet_link_tag     :depot
  = stylesheet_link_tag     :carts
  = csrf_meta_tags
  = yield :head

%body#store
  #banner
    =image_tag("/images/logo.png")
    =@page_title || "Proagmatic Bookshelf"

  #columns
    #side
      =link_to 'Home', '/'
      =link_to 'Questions', ''
      =link_to 'News', ''
      =link_to 'Contact', ''
      -#menu for logged admin
      -if session[:user_id]
        =link_to 'Orders', orders_path
        =link_to 'Products', products_path
        =link_to 'Users', users_path

      -#show the card condition
      -if @cart 
        = hidden_div_if(@cart.line_items.empty?, :id => "cart") do
          = render @cart

  #main
    -if notice
      %p#notice= notice

    = yield

