%head
  %title Depot
  = stylesheet_link_tag     'application'
  = stylesheet_link_tag     'depot', :media => "all"
  = javascript_include_tag  "application"
  = stylesheet_link_tag :carts
  = csrf_meta_tags
  = yield :head

%body#store
  #banner
    =image_tag("/images/logo.png")
    =@page_title || "Proagmatic Bookshelf"

  #columns
    #side
      =link_to 'Home', '/'
      =link_to 'Questions', ''
      =link_to 'News', ''
      =link_to 'Contact', ''

      -if @cart
        = hidden_div_if(@cart.line_items.empty?, :id => "cart") do
          = render @cart

  #main
    -if notice
      %p#notice= notice

    = yield

